*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header
{
    margin: 0px auto;
    width: 100%;
    height: 70px;
    padding: 5px;
    background-color: #FFFFFF;
    position: fixed;
}
.logo
{
    float: left;
    width: 40%;
}
.logo img
{
    width: 60px;
    height: 60px;
    position: absolute;
}
.logo h1
{
    position: relative;
    left: 60px;
    top: 13px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.navbar
{
    float: right;
    width: 60%;
}
.navbar ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}
.navbar ul li
{
    list-style: none;
}
.navbar ul li a
{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar ul li a:hover
{
    color: #7D9CFF;
    transition: all 0.5s;
}
.container1
{
    width: 100%;
    height: 100vh;
    background-color: #F9F9FF;
}
.container1 .contant 
{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 200px;
    float: left;
    width: 40%;
    margin-top: 14rem;
    margin-left: 10rem;
    padding: 5px;
}
.container1 .contant h1
{
    font-size: 80px;
    text-shadow: 2px 2px 5px black;
}
.image
{
    float:right;
    width: 40%;
    margin-top: 4.5rem;
}
.container1 .image img
{
    width: 500px;
    height: 100%;
}
.container1 .contant button
{
    padding: 8px 10px;
    margin-top: 0.5rem;
    outline: none;
    border: none;
    color: #FFFFFF;
    background:linear-gradient(#8193FF 30% ,#8193FF 70%);
    font-weight: bold;
}
.container1 .contant button:hover 
{
    box-shadow: 0px 7px 20px gray;
    transition: all 0.3s;
}
.container2 .image
{
    float: left;
    width: 40%;
    margin-top: 7rem;
}
.container2 .contant
{
    float: right;
    width: 600px;
    margin-top: 8rem;
    margin-right: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.container2 .contant h1
{
    font-size: 80px;
    text-shadow: 3px 3px 8px gray;
}
.container2 .contant button
{
    padding: 8px 10px;
    margin-top: 0.5rem;
    outline: none;
    border: none;
    color: #FFFFFF;
    background:linear-gradient(#8193FF 30% ,#8193FF 70%);
    font-weight: bold;
}
.container2 .contant button:hover 
{
    box-shadow: 0px 7px 20px gray;
    transition: all 0.3s;
}
.container2::after
{
    display: table;
    content: " ";
    clear: both;
}
.container3
{
    height: 100vh;
    width: 100%;
}
.container3 .title
{
    text-align: center;
    margin-top: 5rem;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 5rem;
}
.container3 .title h1
{
    font-size: 50px;
    margin-bottom: 1rem;
}
.service
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service .ser
{
    width: 30%;
    height: 300px;
    text-align: center;
}
.service .ser h1 
{
    font-weight: bold;
    margin: 10px 0px;
    cursor: pointer;
}
.service .ser p
{
    font-size: 18px;
}
.service .ser i
{
    font-size: 40px;
    cursor: pointer;
}
.service .ser:hover i
{
    color: #8490FF;
    transition: all 0.5s;
}
.service .ser:hover h1
{
    color: #8490FF;
    transition: all 1s;
}
.container4
{
    width: 100%;
    height: 300px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #6EACFD;
    margin: 12rem 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container4 h1
{
    font-size: 3rem;
}
.contianer4 p 
{
    font-size: 25px;
}
.container5 .title
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.container5 .title h1
{
    font-size: 3rem;
}
.container5 .title p
{
    font-size: 18px;
    opacity: 0.6;
}
.container6 .navbar2 
{
    margin: 6rem 0rem;
}
.container6 .navbar2 ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container6 .navbar2 ul li 
{
    list-style: none;
    margin: 0rem 1rem;
}
.container6 .navbar2 ul li a
{
    text-decoration: none;
    color: #000;
}
.container6 .navbar2 ul li a:hover
{
    color: #4b8ce1;
    transition:all 0.5s;
}
.container6 .navbar2 ul li a:visited
{
    color: #4b8ce1;
}
.container7 
{
    width: 90%;
    height: 100vh;
    margin: auto;
    margin-bottom: 30rem;
}
.container7 .gellary
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0rem;
    text-align: center;
}
.container7 .gellary div img
{
    width: 340px;
    height: 339px;
}
.container7 .gellary h6
{
    font-size: 15px;
}
.container7 .gellary div 
{
    width: 340px;
    height: 339px;
    margin: 2rem 0rem;
    background-color: #4b8ce1;
    border-radius: 3%;
}
.container7 .gellary div:hover img
{
    opacity: 0.3;
    transition: all 0.5s;
}

.container8
{
    height: 90vh;
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.container8 .title
{
    text-align: center;
}
.container8 .title h1
{
    font-size: 3rem;
}
.container8 .feedback div
{
    width: 40%;
}

.container8 .feedback div:hover h1
{
    color: #4b8ce1;
    transition: 0.5s;
}

.container8 .feedback 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 5rem 0rem;
}
.container8 .btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
}
.container8 .btn button
{
    margin: 0rem 1rem;
    padding: 5px 10px;
    outline: none;
    border: none;
}
.container8 .btn button:hover
{
    background-color: red;
    transition: all 0.5s;
}
.container9
{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container9 .title 
{
    text-align: center;
}
.container9 .title h1
{
    font-size: 3rem;
}
.container9 .title p
{
    font-size: 20px;
}
.container9 .plan div
{
    height: 480px;
    width: 22%;
    padding: 0px 10px;
    /* border: 1px solid rgba(134, 131, 131,0.1);  */
}
.container9 .plan
{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
}
.container9 .plan h1
{
    font-size: 50px;
    line-height: 100px;
}
.container9 .plan .price
{
    font-size: 30px;
}
.container9 .plan p
{
    font-size: 20px;
    padding: 10px;
}
.container9 .plan button
{
    padding: 7px 16px;
    font-size: 15px;
    position: relative;
    font-weight: bold;
    top: -70px;
    left: 85px;
    display:none;
}
.container9 .plan div:hover button
{
    display: block;
}
.container9 .plan div:hover 
{
    background-color: #8191FE;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.9s;
}
.container10
{
    width: 100%;
    height: 100vh;
    margin: 5rem 0rem;
}
.container10 .title
{
    text-align: center;
    margin: 5rem 0rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.container10 .title h1
{
    font-size: 2.5rem;
    opacity: 0.8;
}
.container10 .title p
{
    opacity: 0.3;
}
.container10 .contant img
{
    width: 380px;
    height: 220px;
    margin-bottom: 5px;
}
.container10 .contant div
{
    width: 380px;
    height: auto;
}
.container10 .contant
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.container10 .contant .react
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.container10 .contant .react img
{
    width: 25px;
    height: 25px;
}
.container10 .contant div h1
{
    font-size: 1.5rem;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5rem;
}
.container10 .contant div p
{
    font-size: 15px;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
}
.container10 .contant div:hover h1
{
    color: #6EACFD;
    transition: all 0.5s;
}
.container10 .contant div:hover .hover
{
    transform: scale(1.04);
    transition: all 0.8s;
}
footer
{
    width: 100%;
    height: 300px;
}
footer .container11
{
    height: 400px;
    width: 100%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .container11 div
{
    width: 28%;
    height: 120px;
    text-align: center;
}
footer .container11 h2
{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
footer .container11 p
{
    font-size: 15px;
    margin-bottom: 1rem;
}
footer .container11 .btn input
{
    padding: 13px 40px;
    position: relative;
    left: 4rem;
    border: none;
    outline: none;
}
footer .container11 .btn button
{
    padding: 7px 10px;
    left: 17.5rem;
    bottom: 2.6rem;
    position: relative;
    outline: none;
    border: none;
    color: green;
    background-color: gray;
}
footer .container11 .icon
{
    width: 100%;
}
footer .container11 .icon i
{
    font-size: 1.3rem;
    margin:1rem;
    color: #fff;
}
footer .container11 .icon i:hover
{
    color: #8191FE;
    transform: scale(1.1);
    transition: all 0.5s;
}